﻿.header
  .container
    .header__flex
      - var itemSrc = imgDir + 'logo.svg';
      a.header__logo(href='./')
        img.header__logoImg(src=itemSrc alt='logo')
        .header__logoTitle POLKOWSKI & KOWALCZYK
        .header__logoSubTitle KANCELARIA FINANSOWA

      .header__nav
        include ../nav/nav