.header
  position: absolute
  top: 20px
  left: 0
  width: 100%
  z-index: 100
  +PC_MIN
    top: 210px
  &.-fixed
    position: fixed
    top: 0
    background: $black
    .container
      position: relative
      &:after
        +PC_MIN
          +absolute-center
          content: ''
          width: 90%
          border-top: 1px solid $gray
          z-index: -1
    .header__flex
      justify-content: space-between
    .header__nav
      background: $black
    .header__logo
      flex-direction: row
    .header__logoImg
      background: $black
      padding-right: 20px
      +PC_MIN
        height: 30px
        margin: 0
    .header__logoTitle, .header__logoSubTitle
      display: none
  
  &__flex
    display: flex
    align-items: center
  
  &__logo
    transition: 0.3s ease all
    display: flex
    align-items: center
    flex-direction: column
    +PC_MIN
      width: 35%
    
    &:hover
      filter: brightness(60%)
      text-decoration: none
  
  &__logoImg
    +TAB_MAX
      height: 60px
    +PC_MIN
      margin-top: -180px
  
  &__logoTitle, &__logoSubTitle
    letter-spacing: 2px
    +PHONE_ONLY
      display: none
  
  &__logoTitle
    +font(size 16px)
  
  &__logoSubTitle
    +font(size 8px)