nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='#home') strona główna
    li.nav__item
      a.nav__link(href='#about') o nas
    li.nav__item
      a.nav__link(href='#offer') oferta
    li.nav__item
      a.nav__link(href='#contact') kontakt
