.nav
  display: flex
  z-index: 100
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $black
    display: none
    z-index: 100
    +PC_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 50px
    height: 50px
    font-size: 24px
    position: fixed
    right: 20px
    top: 20px
    background: $gold
    color: $white
    cursor: pointer
    +PC_MIN
      display: none
  
  &__list
    padding: 0
    margin: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      background: $gray
      text-align: center
    +PC_MIN
      display: flex !important
  
  &__item
    display: block
  
  &__link
    +flex-center
    color: $gold
    height: 50px
    z-index: 2
    position: relative
    transition: 0.3s ease all
    +TAB_MAX
      width: 220px
    +PC_MIN
      padding: 0 20px
    &:hover, &.-active
      text-decoration: none
      color: $white
      &:after
        transform: translate(0, 0)