body
  +fontPT
  font-size: 14px
  line-height: 1.4
  background: $black
  color: $white
  position: relative

*::selection
  background-color: $gold
  color: $white
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    
.container
  +container

.overflow
  overflow: hidden
  
.fullSection
  +section-bg
  +TAB_MAX
    min-height: 500px
  +PC_MIN
    min-height: 100vh

img
  display: inline-block