extends ../layout/body

block headScripts

block content
  include ../components/header/header

  main
    include ../components/banner/banner
    include ../components/about/about
    include ../components/offer/offer
    include ../components/contact/contact
    include ../components/footer/footer
