- var itemStyle = 'background-image: url('+ imgDir +'about__bg.jpg)';

.about.fullSection.overflow#about(style=itemStyle)
  .container
    .about__flex
      .about__person.wow.fadeInLeft
        - var imgSrc = imgDir + 'about__person.png';
        img.about__personImg(src=imgSrc alt='person')
      .about__article
        .about__top
          .about__title.wow.fadeInLeft(data-wow-delay="0.6s")
            include ../title/title
          .about__logo.wow.fadeInDown
            - var imgSrc = imgDir + 'logo.svg';
            img.about__logoImg(src=imgSrc alt='logo')

        .about__content.wow.fadeInRight
          p
            | Kancelaria Finansowa Polkowski & Kowalczyk to zespół ekspertów finansowych
            | z wiedzą popartą wieloletnim doświadczeniem na rynku usług finansowych.
            | Na kanwie dotychczasowych doświadczeń wypracowaliśmy przejrzysty model
            | współpracy z klientem, który zapewnia sprawne osiągnięcie zamierzonych celów.
            | Dzięki współpracy ze wszystkim Bankami oraz Instytucjami poza bankowymi
            | możemy zapewnić, iż posiadamy pełny wachlarz rozwiązań dla potrzeb naszych Klientów.

          p(style='text-align: center')
            strong Co nas wyróżnia?
            br
            | Nie obiecujemy rzeczy niemożliwych.
            br
            | Nie mijamy się z prawdą.
            br
            | Po prostu mówimy jak jest!

          p
            | Jesteśmy młodymi, kompetentnymi i pozytywnie nastawionymi do życia ludźmi.
            | Cechuję nas wysokie zaangażowanie, kreatywność, oraz rzetelne poszukiwanie
            | rozwiązań dla każdej sprawy. Swoich Klientów pozyskujemy z poleceń,
            | dlatego najważniejsze jest dla nas, aby za każdym razem zostawić po
            | sobie dobre wrażenie. To zawsze owocuje!