.about
  padding: 100px 0
  
  .container
    +clearfix
  
  &__flex
    display: flex
    justify-content: flex-end
  
  &__person
    +disableSelection
    position: relative
    +PC_MIN
      width: 40%
  
  &__personImg
    position: absolute
    top: 0
    left: -300px
    +TAB_MAX
      display: none
  
  &__article
    +PC_MIN
      width: 60%
  
  &__top
    display: flex
    align-items: center
    justify-content: center
    +TAB_MAX
      flex-direction: column-reverse
  
  &__title
    text-align: center
    +PC_MIN
      text-align: right
  
  &__logo
    +disableSelection
    +TAB_MAX
      margin-bottom: 20px
    +PC_MIN
      margin-left: 40px
  
  &__logoImg
    +TAB_MAX
      height: 80px
  
  &__content
    margin-top: 40px
    color: $gold
    +PC_MIN
      margin-top: 60px
    