- var itemStyle = 'background-image: url('+ imgDir +'contact__bg.jpg)';

.contact.fullSection.overflow#contact(style=itemStyle)
  .container
    .contact__flex
      .contact__article
        .contact__top
          .contact__logo
            - var imgSrc = imgDir + 'logo.svg';
            img.contact__logoImg(src=imgSrc alt='logo')
          .contact__title.wow.fadeInRight(data-wow-delay='0.6s')
            include ../title/title

        .contact__content
          .contact__info.wow.fadeInLeft(data-wow-delay='0.9s')
            p P&K Polkowski Kowalczyk
            p Olsztyn, ul. Warszawska 1
            p NIP: 796 36 32 63
            br
            p
              a(href='tel:555333666') tel. 555 333 666
            p
              a(href='mailto:polkowski@kfkip.pl') polkowski@kfkip.pl
            br
            p
              a(href='tel:555333666') tel. 555 333 656
            p
              a(href='mailto:kowalczyk@kfkip.pl') kowalczyk@kfkip.pl

          .contact__form.wow.fadeInLeft(data-wow-delay='0.6s')
            include ../form/form

      .contact__person.wow.fadeInRight
        - var imgSrc = imgDir + 'contact__person.png';
        img.contact__personImg(src=imgSrc alt='person')