.contact
  padding: 100px 0
  
  .container
    +clearfix
  
  &__flex
    display: flex
    justify-content: flex-end
  
  &__person
    +disableSelection
    position: relative
    +PC_MIN
      width: 40%
  
  &__personImg
    position: absolute
    top: 0
    right: -350px
    +TAB_MAX
      display: none
  
  &__article
    width: 100%
    +PC_MIN
      width: 60%
  
  &__top
    display: flex
    align-items: center
    +TAB_MAX
      flex-direction: column
  
  &__title
    +TAB_MAX
      text-align: center
  
  &__logo
    +disableSelection
    +TAB_MAX
      margin-bottom: 20px
    +PC_MIN
      margin-right: 40px
  
  &__logoImg
    +TAB_MAX
      height: 80px
  
  &__content
    margin-top: 40px
    display: flex
    +PHONE_ONLY
      flex-direction: column
    +PC_MIN
      margin-top: 60px
      
  &__info
    +PHONE_ONLY
      margin-bottom: 40px
    +TAB_MIN
      padding-right: 20px
      flex: 1
      
  &__form
    +TAB_MIN
      flex: 1