.banner
  position: relative
  
  &__item
    background-position: right
    background-size: cover
    
    .container
      display: flex
      align-items: center
  
  &__header
    width: 100%
    transition: 0.8s ease all
    transform-origin: bottom
    +TAB_MIN
      width: 75%
    &.-hide
      transform: translateX(50%) scale(0)
      opacity: 0
  
  &__arrows
    position: absolute
    bottom: 30px
    left: 0
    width: 100%
    z-index: 10
    +TAB_MAX
      text-align: center
    +PC_MIN
      bottom: 150px
      left: -10px
    
    .container
      position: relative
  
  &__arrow
    +font(size 30px)
    cursor: pointer
    display: inline-block
    transition: 0.3s ease all
    padding: 10px
    &:hover
      transform: scale(2)
    &.-prev
      margin-right: 100px