.banner.overflow#home
  .banner__slider
    - for(var i = 1; i <= 2; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'banner__item-'+ i +'.jpg)'
      .banner__item(style=itemStyle)
        .container.fullWindow
          .banner__header
            .banner__title.wow.fadeInRight(data-wow-delay="0.6s")
              include ../title/title

  .banner__arrows.wow.fadeInUp(data-wow-delay="1.2s")
    .container