.footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  color: $grayLight
  
  &__flex
    display: flex
    justify-content: space-between
    padding: 20px 0
    border-top: 1px solid $gray
    +PHONE_ONLY
      flex-direction: column
  
  &__link
    display: flex
    align-items: center
    color: $grayLight
    transition: 0.3s ease all
    &:hover
      text-decoration: none
      color: $white
    +PHONE_ONLY
      margin-top: 10px
      
  &__linkLogo
    margin-left: 10px