.footer
  .container
    .footer__flex
      .footer__copy Copyright 2016 by kfkip.pl - All rights reserved
      a.footer__link(href='http://collor.pl' target='_blank') Realizacja:
        - var logoSrc = imgDir + 'footer__logo.png';
        img.footer__linkLogo(src=logoSrc alt='collor.pl')