- var itemStyle = 'background-image: url('+ imgDir +'offer__bg.jpg)';

.offer.fullSection.overflow#offer(style=itemStyle)
  .container
    .offer__top
      .offer__logo.wow.fadeInDown
        - var imgSrc = imgDir + 'logo.svg';
        img.offer__logoImg(src=imgSrc alt='logo')

      .offer__title.wow.fadeInLeft(data-wow-delay="0.6s")
        include ../title/title

    .offer__content
      include ../accordion/accordion