.offer
  padding: 100px 0
  
  &__top
    text-align: center
    
  &__logo
    +disableSelection
    +TAB_MAX
      margin-bottom: 20px
    +PC_MIN
      margin-bottom: 40px
  
  &__logoImg
    +TAB_MAX
      height: 80px
      
  &__content
    margin-top: 40px
    min-height: 350px
    +PC_MIN
      margin-top: 60px