.accordion.wow.fadeInRight
  .accordion__topBox

    .accordion__top(data-target="#tab1")
      - var iconSrc = imgDir + 'accordion-icon-1.svg';
      img.accordion__topIcon(src=iconSrc alt='icon')
      .accordion__topTitle osobiste

    .accordion__top(data-target="#tab2")
      - var iconSrc = imgDir + 'accordion-icon-2.svg';
      img.accordion__topIcon(src=iconSrc alt='icon')
      .accordion__topTitle biznes

    .accordion__top(data-target="#tab3")
      - var iconSrc = imgDir + 'accordion-icon-3.svg';
      img.accordion__topIcon(src=iconSrc alt='icon')
      .accordion__topTitle leasing

    .accordion__top(data-target="#tab4")
      - var iconSrc = imgDir + 'accordion-icon-4.svg';
      img.accordion__topIcon(src=iconSrc alt='icon')
      .accordion__topTitle agrobiznes

    .accordion__top(data-target="#tab5")
      - var iconSrc = imgDir + 'accordion-icon-5.svg';
      img.accordion__topIcon(src=iconSrc alt='icon')
      .accordion__topTitle nieruchomości

  .accordion__body(id="tab1")
    .accordion__content
      | Wychodząc naprzeciw podstawowym oczekiwaniom Klienta,
      | świadczymy usługi w zakresie doboru najkorzystniejszej oferty kredytowej.
      | Określamy zdolność kredytową, porównujemy oferty kredytów na rynku bankowym
      | i proponujemy najlepsze rozwiązania. Wspieramy proces gromadzenia oraz
      | wypełniania niezbędnych do tego dokumentów. Nadzorujemy prawidłowy
      | przebieg całego procesu kredytowego. Proponujemy następujące formy kredytowania: <br>
      | - kredyt hipoteczny<br>
      | - kredyt konsumencki<br>
      | - kredyt konsolidacyjny<br>
      | Dodatkowo oferujemy pomoc w zakresie:<br>
      | - doboru rzeczoznawcy majątkowego<br>
      | - koordynacji procesu przeniesienia prawa własności<br>
      | (notariusz, księgi wieczyste)
      | - ubezpieczenia nieruchomości<br>

  .accordion__body(id="tab2")
    .accordion__content
      | Dla mikro, małych i średnich przedsiębiorstw ubiegających się o
      | finansowanie proponujemy następujące produkty finansowe:<br>
      | - Kredyty obrotowe<br>
      | - Kredyty inwestycyjne<br>
      | - Kredyty technologiczne<br>
      | - Kredyty na Start<br>
      | - Pożyczki ze środków EU<br>
      | - Pożyczki pozabankowe<br>
      | A także produkty z zakresu:<br>
      | - Wymiany walut<br>
      | - Instrumentów pochodnych<br>
      | - Finansowania handlu<br>
      | Dodatkowo oferujemy pomoc w zakresie:<br>
      | - pełnej obsługi procesu kredytowego<br>
      | - sporządzenia biznes planu oraz prognoz finansowych<br>
      | - racjonalizacji struktury finansowania przedsiębiorcy<br>
      | - dopasowaniu odpowiednich rozwiązań oraz długoterminowe<br>
      | ukierunkowanie firmy pod kątem finansowania
      | - doboru rzeczoznawcy majątkowego<br>
      | - koordynacji procesu przeniesienia prawa własności (notariusz, księgi wieczyste)<br>
      | - ubezpieczenia nieruchomości, maszyn, zapasów, należności itp.<br>
      | - optymalizacja kosztów związanych z prowadzeniem rachunków bankowych<br>
      | - kontrola posprzedażowa zapisów czynnych umów kredytowych<br>

  .accordion__body(id="tab3")
    .accordion__content
      | Bazując na bezpośredniej współpracy z wiodącymi firmami
      | leasingowymi w Polsce zapewniamy najlepsze oferty na rynku.
      | W zależności od potrzeb Klienta realizujemy następujące formy
      | leasingu: leasing operacyjny, leasing finansowy, pożyczka „leasingowa”,
      | leasing zwrotny.
      | Przedmioty podlegające finansowaniu:<br>
      | - środki transportu<br>
      | - maszyny i urządzenia<br>
      | - sprzęt medyczny<br>
      | - oprogramowania i urządzenia IT<br>
      | - sprzęt rolniczy<br>
      | - nieruchomości<br>
      | - wyposażenie biura, sklepu, restauracji<br>
      | Dodatkowo oferujemy pomoc w zakresie pozyskania oraz negocjacji ofert
      | cenowych od dostawców.

  .accordion__body(id="tab4")
    .accordion__content
      | Branża rolno-spożywcza jest jedną z dynamiczniej rozwijających
      | się gałęzi gospodarki w Polsce i na świecie.
      | Sektor obejmuje nie tylko produkcję i przetwórstwo żywności,
      | ale również przemysł związany z usługami i zaopatrzeniem dla rolnictwa.
      | Łącznie stanowi to blisko 25% sprzedaży w Polsce, dlatego w
      | swojej ofercie proponujemy również kompleksową obsługę finansową
      | właśnie dla Działalności Rolniczych, a w szczególności:<br>
      | - kredyt obrotowy w rachunku bieżącym<br>
      | - kredyt obrotowy w rachunku kredytowym - kredyt skupowy<br>
      | - kredyt inwestycyjny<br>

  .accordion__body(id="tab5")
    .accordion__content
      | Kancelaria świadczy również usługi w ramach sektora nieruchomości.
      | W szczególności zapewniamy:<br>
      | - wsparcie procesu zarówno zakupu jak i sprzedaży: mieszkań, domów,
      | gruntów oraz lokali użytkowych<br>
      | - analizę stanu prawnego nieruchomości<br>
      | - wsparcie procesu negocjacji oraz zawierania umowy<br>
      | - koordynację procesu przeniesienia prawa własności
      | (notariusz, księgi wieczyste)<br>