.accordion
  
  &__item
    margin-bottom: 20px
  
  &__topBox
    display: flex
    justify-content: space-between
  
  &__top
    position: relative
    height: 130px
    width: 100%
    max-width: 200px
    border: 12px solid transparent
    border-bottom: none
    padding-bottom: 10px
    cursor: pointer
    text-align: center
    transition: 0.6s ease all
    color: $gold
    +TAB_MAX
      height: 70px
      border-width: 4px
    &.-active, &:hover
      border-color: $gold
      box-shadow: inset -7px 97px 221px -39px transparentize($white, 0.9)
  
  &__topIcon
    +absolute-center
    +TAB_MAX
      height: 30px
    +PC_MIN
      margin-top: -10px
  
  &__topTitle
    +font(size 20px)
    transition: 0.3s ease all
    display: inline-block
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    +TAB_MAX
      display: none
  
  &__body
    display: none
    &.-active
      display: block
  
  &__content
    +clearfix
    padding: 30px 0
        