$loaderBg: $black
$loaderColor1: $gold
$loaderTime: 2s

.loader
  background: $loaderBg
  height: 100%
  width: 100%
  position: fixed
  z-index: 9999
  margin-top: 0
  top: 0
  transition: 1s ease opacity
  overflow: hidden
  &.-hide
    opacity: 0
    pointer-events: none
  
  &__center
    +absolute-center
  
  &__box
    width: 40px
    height: 40px
    position: relative
    transform: rotateZ(45deg)
  
  &__boxItem
    float: left
    width: 50%
    height: 50%
    position: relative
    transform: scale(1.1)
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $gold
      animation: loader $loaderTime infinite linear both
      transform-origin: 100% 100%
    
    &.-two
      transform: scale(1.1) rotateZ(90deg)
      &:before
        animation-delay: 0.25s
    
    &.-three
      transform: scale(1.1) rotateZ(180deg)
      &:before
        animation-delay: 0.5s
    
    &.-four
      transform: scale(1.1) rotateZ(270deg)
      &:before
        animation-delay: 0.75s
    
    @keyframes loader
      0%, 10%
        transform: perspective(140px) rotateX(-180deg)
        opacity: 0
      
      25%, 75%
        transform: perspective(140px) rotateX(0deg)
        opacity: 1
      
      90%, 100%
        transform: perspective(140px) rotateY(180deg)
        opacity: 0