.form
  position: relative
  
  &__content
    text-align: right
  
  &__input, &__textarea
    +font(size 14px)
    display: block
    width: 100%
    background: $gray
    border: none
    color: $white
    margin-bottom: 20px
    padding: 15px 20px
    text-align: left
    &.-invalid
      background: $red
    &:focus
      outline: none
      background: lighten($gray, 5%)
  
  &__textarea
    +size(height 110px)
    resize: none
    overflow: auto
  
  &__button
    display: inline-block
    background: transparent
    color: $gold
    border: none
    transition: 0.3s ease all
    cursor: pointer
    &:hover
      color: $white
  
  &__msg
    position: absolute
    bottom: 40px
    right: 0
    padding: 10px 20px
    opacity: 1
    color: $white
    transition: 0.3s ease all
    z-index: 9999
    text-align: center
    text-transform: uppercase
    width: 100%
    &.-positive
      background: $green
    &.-negative
      background: $red
    &.-hide
      opacity: 0
      transform: translateY(-50%)
      pointer-events: none