.form.wow.zoomInLeft

  form.form__content(name='form' action='mail.php' method='POST')
    input.form__input(type='text' name='name' placeholder='Imie i nazwisko *' required)
    input.form__input(type='email' name='email' placeholder='E-Mail *' pattern=".{1,60}" required)
    input.form__input(type='tel' name='tel' placeholder='Numer telefonu *' pattern=".{1,60}" required)
    textarea.form__textarea(name='msg' placeholder="Twoja wiadomość" required)
    button(type='submit').form__button Wyślij

  .form__msg.-positive.-hide Wiadomość została wysłana
  .form__msg.-negative.-hide Problem z serwerem